@using Web_SmartBuy.Models;
@using System.Globalization;
@{
    ViewBag.Title = "Mi Carrito";
    List<WishList> Productos = ViewBag.Carrito;
}

<h2>Mis Productos</h2>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo Prod.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Productos)
        {
            <tr>
                <th scope="row">@item.ID_WISH</th>
                <td>@item.ID_PRODUCTO</td>
                <td>@item.NOMBRE</td>
                <td>@item.MARCA</td>
                <td>@item.CANTIDAD</td>
                <td>₡ @item.PRECIO</td>
                <td>₡ @item.TOTAL</td>
            </tr>
        }

    </tbody>
</table>